.sentiment {
    padding-bottom: 50px;
    color: black;
    text-align: center;
}

h1 {
    letter-spacing: 10px;
    text-align: center;
}

div.divide {
  margin-top: 1.7em;
}

.button {
    width: 100%;
    text-align: center;
}

.button.button-primary {
    color: whitesmoke;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    text-align: center;
}

.button.button-primary:hover {
    background-color: #4670ba;
    border-color: #4670ba;
}

.button.button-pos {
    background-color: #90C590;
    border-color: #90C590;
    text-align: center;
}

.button.button-pos:hover {
    background-color: green;
    border-color: green;
    color: whitesmoke;
}

.button.button-neg {
    background-color: #FF7F7F;
    border-color: #FF7F7F;
    text-align: center;
}

.button.button-neg:hover {
    background-color: red;
    border-color: red;
    color: whitesmoke;
}

.button.button-neu {
    background-color: lightgrey;
    border-color: lightgrey;
    text-align: center;
}

.button.button-neu:hover {
    background-color: #545454;
    border-color: #545454;
    color: whitesmoke;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

input[id="pos"]:checked + label {
    background-color: darkgreen;
    border-color: darkgreen;
    color: whitesmoke;
}

input[id="neut"]:checked + label {
    background-color: #545454;
    border-color: #545454;
    color: whitesmoke;
}

input[id="neg"]:checked + label {
    background-color: red;
    border-color: red;
    color: whitesmoke;
}

input[id="ant"] {
    border-color: #888;
    background-color: #E8F3E8;
}

input[id="ant"]:checked + label {
    border-color: #888;
    background-color: #D2E7D2;
}

input[id="joy"] {
    border-color: #888;
    background-color: #E8F3E8;
}

input[id="joy"]:checked + label {
    border-color: #888;
    background-color: #D2E7D2;
}

input[id="sur"] {
    border-color: #888;
    background-color: #E8F3E8;
}

input[id="sur"]:checked + label {
    border-color: #888;
    background-color: #D2E7D2;
}

input[id="tru"] {
    border-color: #888;
    background-color: #E8F3E8;
}

input[id="tru"]:checked + label {
    border-color: #888;
    background-color: #D2E7D2;
}

input[id="ang"] {
    border-color: #888;
    background-color: #FFCCCC;
}

input[id="ang"]:checked + label {
    border-color: #888;
    background-color: #FFCCCC;
}

input[id="fea"] {
    border-color: #888;
    background-color: #FFCCCC;
}

input[id="fea"]:checked + label {
    border-color: #888;
    background-color: #FFCCCC;
}

input[id="sad"] {
    border-color: #888;
    background-color: #FFCCCC;
}

input[id="sad"]:checked + label {
    border-color: #888;
    background-color: #FFCCCC;
}

input[id="dis"] {
    border-color: #888;
    background-color: #FFCCCC;
}

input[id="dis"]:checked + label {
    border-color: #888;
    background-color: #FFCCCC;
}

#submit {
    color: whitesmoke;
    border-color: cornflowerblue;
    background-color: cornflowerblue;
}

#submit:hover {
    border-color: #4668A5;
    background-color: #4668A5;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #d3d3d4;
  border-radius: 1px;
  border: 0 solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid rgba(0, 0, 0, 0);
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #6ca1ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #dbdbdc;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #d3d3d4;
  border-radius: 1px;
  border: 0 solid #010101;
}

input[type=range]::-moz-range-thumb {
  border: 1px solid rgba(0, 0, 0, 0);
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #6ca1ff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #cbcbcc;
  border: 0 solid #010101;
  border-radius: 3px;
}

input[type=range]::-ms-fill-upper {
  background: #d3d3d4;
  border: 0 solid #010101;
  border-radius: 3px;
}

input[type=range]::-ms-thumb {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 30px;
  border-radius: 50px;
  background: #6495ED;
  cursor: pointer;
  height: 8px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #d3d3d4;
}

input[type=range]:focus::-ms-fill-upper {
  background: #dbdbdc;
}
