.sentiment {
    padding-bottom: 50px;
    color: black;
    text-align: center;
}

h1 {
    letter-spacing: 10px;
    padding-bottom: 40px;
    text-align: center;
}

div.divide {
  margin-top: 1.7em;
}

.button {
    width: 100%;
    text-align: center;
}

.button.button-primary {
    color: whitesmoke;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    text-align: center;
}

.button.button-primary:hover {
    background-color: #4670ba;
    border-color: #4670ba;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: #4670ba;
    border-color: #1a2e54;
}

input[type="checkbox"]:checked + label {
    border-color: #888;
    background-color: #eee;
}

#submit {
    border-color: limegreen;
    background-color: limegreen;
}

#submit:hover {
    border-color: #1B701B;
    background-color: #1B701B;
}
