.sentiment {
    padding-bottom: 50px;
    color: black;
    text-align: center
}

h1 {
    letter-spacing: 10px;
    padding-bottom: 40px;
}

.button.button-primary {
    color: whitesmoke;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

.button.button-primary:hover {
    background-color: #4670ba;
    border-color: #4670ba;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: #4670ba;
    border-color: #1a2e54;
}

input[type="checkbox"]:checked + label {
    border-color: #888;
    background-color: #eee;
}

#submit {
    border-color: cornflowerblue;
    background-color: cornflowerblue;
}

#submit:hover {
    border-color: #4670ba;
    background-color: #4670ba;
}
