<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>SENTIMENTATOR</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skeleton.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}" />


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>
<header>
	<div class="container" style="text-align: center">
		<div class="row">
			<div style="margin-top: 15%; margin-bottom: 25%">
 			    <h1>SENTIMENTATOR</h1>
                <p>Select the emotions which you think best suit the sentence.</p>
                <p>Let's start annotating!</p>
                <div>
				    <a class="button button-primary">POSITIVE</a>
				    <a class="button button-primary">NEUTRAL</a>
				    <a class="button button-primary">NEGATIVE</a>
                </div><br>
                <div>
                    <button>ANTICIPATION</button>
                    <button>JOY</button>
                    <button>SURPRISE</button>
                    <button>TRUST</button><br>
                    <button>ANGER</button>
				    <button>FEAR</button>
                    <button>DISGUST</button>
				    <button>SADNESS</button>
                </div><br>
                <div>
                    <a class="button button-primary">SAVE</a></div>
			    <figure>
	   		    <img src="/static/images/Plutchik_Wheel.png">
		        <figcaption>Plutchik's wheel of emotions.
                <p>https://en.wikipedia.org/wiki/Contrasting_and_categorization_of_emotions</p></figcaption>
			    </figure>
                <a href="/logout" class="button" style="margin-top: 5%; margin-bottom: 25%">LOG OUT</a>
			</div>
	    </div>
	</div>
</header>
<body>

</body>
</html>