<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>SENTIMENTATOR</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skeleton.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}" />


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">

</head>
<body>
<div class="container">
  <div class="row" style="text-align: right; margin-top: 5%">
    <p class="username" style="font-size: larger">Logged in as: <b>{{ username }}</b></p>
    <p class="score" style="font-size: x-large; color: green">SCORE: <b>{{ score }}</b></p>
  </div>
</div>
<div class="container" style="text-align: center">
  <div class="row" style="margin-top: 10%">
    <h1>SENTIMENTATOR</h1>
    <p>Choose the language in which you would like to annotate sentences.</p>
    <div id="language">
      <div class="six columns">
        <a class="button" href="/annotate/en">English</a>
        <a class="button" href="/annotate/fi">suomi</a>
        <a class="button" href="/annotate/sv">svenska</a>
      </div>
      <div class="six columns">
        <a class="button" href="/annotate/it">italiano</a>
        <a class="button" href="/annotate/ru">русский</a>
        <a class="button" href="/annotate/fr">français</a>
      </div>
    </div>
    <div>
	  <figure style="text-align: center">
	    <img src="/static/images/Plutchik_Wheel.png">
        <figcaption><a href="https://en.wikipedia.org/wiki/Contrasting_and_categorization_of_emotions">Plutchik's wheel of emotions.</a></figcaption>
      </figure>
    </div>
    <div class="six columns offset-by-three" style="text-align: center; font-size: small">
      <a href="/" class="button">BACK</a>
    </div>
    <div class="six columns offset-by-three" style="text-align: center">
      <a href="/logout" class="button">LOG OUT</a>
    </div>
  </div>
</div>
</body>
</html>